<nav class="nav desktop-nav">
  <ul>
    <li><a href="/index.html"><%= data.Pages[0]['landing_title'] %><i class="fa fa-caret-down"></i></a></li>
    <li><a href="/levels.html"><%= data.Pages[0]['level_page_title'] %><i class="fa fa-caret-down"></i></a></li>
    <li><a href="/premium.html"><%= data.Pages[0]['premium_page_title'] %><i class="fa fa-caret-down"></i></a></li>
    <% data.NavLinks.each do |link| %>
      <li><a href="<%= link['url'] %>"><%= link['text'] %></a></li>
    <% end %>
  </ul>
</nav>
