<div class="showcase-label"><%= data.Showcase[0]['label_one'] %></div>
<div class="outer-info showcase-wrapper" id="video-top">
  <a class="video inner-info" href="<%= data.Showcase[0]['video_one'] %>">Watch Now</a>
</div>
<div class="watch-more">
  <a href="<%= data.Showcase[0]['watch_more_link'] %>">Watch more videos <i class="fa fa-chevron-right"></i></a>
  <hr>
</div>
<div class="outer-showcase-wrapper">
  <div class="showcase-label"><%= data.Showcase[0]['label_two'] %></div>
  <div class="outer-info showcase-wrapper secondary-showcase" id="video-two">
    <a class="video inner-info" href="<%= data.Showcase[0]['video_two'] %>">Watch Now</a>
  </div>
  <div class="showcase-label"><%= data.Showcase[0]['label_three'] %></div>
  <div class="outer-info showcase-wrapper secondary-showcase" id="video-three">
    <a class="video inner-info" href="<%= data.Showcase[0]['video_three'] %>">Watch Now</a>
  </div>
  <div class="showcase-label"><%= data.Showcase[0]['label_four'] %></div>
  <div class="outer-info showcase-wrapper secondary-showcase" id="video-four">
    <a class="video inner-info" href="<%= data.Showcase[0]['video_four'] %>">Watch Now</a>
  </div>
</div>