---
title: Premium Membership
---

<div class="splash">
  <div class="splash-wrapper">
    <div class="splash-greeting">
      <h1 class="splash-header"><%= data.AboutOrg[0]['premium_page_title'] %></h1>
      <p class="splash-info"><%= data.AboutOrg[0]['summary'] %></p>
      <h4 class="splash-support"><%= data.AboutOrg[0]['cta'] %></h4>
    </div><!-- splash-greeting -->
    <% data.MemberLevels.each do |level| %>
      <% if level['premium_member'] %>
        <div class="premium-box">
          <div class="premium-box-top">
            <h3><%= level['name'] %></h3>
            <h4>$<%= level['donation_amount']%></h4>
          </div>
          <div class="premium-box-bottom">
            <h4>Benefits:</h4>
            <div class="premium-box-benefits">
              <p><%= level['benefits'] %></p>
            </div>
            <a href="<%= data.DonationInfo[0]['generic_form_url'] %>"><button class="button button-flat">Join <i class="fa fa-chevron-right"></i></button></a>
            <a href="<%= data.DonationInfo[0]['renew_form_url'] %>"><button style="float: right;" class="button button-flat">Renew <i class="fa fa-chevron-right"></i></button></a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div><!-- splash-wrapper -->
  <%= partial "desktop_nav" %>
</div><!-- splash-premium -->

<div class="main">
  <div class="main-left">
    <h2 class="tagline"><%= data.AboutOrg[0]['tagline'] %></h2>
    <% if data.Showcase[0]['content_type'] == 'videos' %>
      <%= partial "videos" %>
    <% elsif data.Showcase[0]['content_type'] == 'images' %>
      <%= partial "images" %>
    <% end %>
  </div>
  <div class="main-right">
    <h3 class="section-header">Have a Question?</h3>
    <% data.Contacts.each do |row| %>
      <div class="contact-info">
        <h5><%= row['department'] %></h5>
        <h4><%= row['name'] %></h4>
        <p class="italic"><%= row['title'] %></p>
        <p><%= row['phone'] %></p>
        <p><a href="mailto:<%= row['email'] %>"><%= row['email'] %> <i class="fa fa-chevron-right"></i></a></p>
      </div>
    <% end %>
    <hr>
    <%= partial "share" %>
  </div>
</div>
<div class="thanks outer-info">
  <div class="inner-info"><hr>Thank you for supporting <%= data.AboutOrg[0]['org_name'] %><hr></div>
</div>
